* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding-inline-start: 16.5em;
  padding-block-start: 6em;
  padding-block-end: 3em;
}

h1 {
  margin: 0;
  padding-bottom: 32px;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

header p {
  width: 415px;
  height: 60px;
  margin: 16px 0px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  width: fit-content;
  height: 312px;
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

main h2 {
  background-color: hsl(45deg, 100%, 50%);
  padding: 16px 32px;
  width: max-content;
  height: 60px;
  font-size: 24px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 0 0 0 -8px;
}

main p {
  width: 800px;
  padding: 0px 24px;
}

main {
  background-color: hsl(0deg, 0%, 30%);
  padding-block-start: 4.5em;
  padding-inline-start: 15em;
  padding-block-end: 58px;
  width: fit-window;
}

/* Add styles here! */
